/**HOME**/
#hvTitle{
	/*position: absolute*/;
    color: white;
    font-size: 50px;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
    /*line-height: 100vh;*/
}
#hvSubTitle{
	color: white;
    font-weight: 600;
    margin-top: 20px;
}
#hvDivImg{
	background: black;

}
#hvIndexBackground{
    height: 100vh;
    width: 100%;
    opacity:0.4;
}
/**HOME**/


/**SERVICIOS**/
#hvServicios{
		padding-bottom: 80px;
}
#hvServicios .hvServiciosP{
	word-wrap: break-word;
	font-size: 12px;
	font-weight: 100;
}
#hvServicios .rightText{
	text-align: -webkit-right;
	color: rgba(54, 54, 54, 0.64) !important;
	padding-bottom: 10px;
}
#hvServicios .leftText{
	text-align: -webkit-left;
	color: rgba(54, 54, 54, 0.64) !important;
	padding-bottom: 10px;
}
#hvServicios .hvH1{
	color: rgba(54, 54, 54, 0.51);
	font-weight:600;
}
#hvServicios .hvH4{
	color: rgba(54, 54, 54, 0.51);
}
#hvServicios .colTopPad{
	padding-top: 30px;
}
#hvServicios .imgContLeft{
	width: 80%;
	float: left;
}
@media screen and (max-width:414px) {
	#hvServicios #colDos{
		margin-top: 0px !important;
		margin-bottom: 30px;
	}
	#hvServicios{
			padding-bottom: 30px;
	}
}
@media screen and (max-width:966px) {
	#hvServicios .colTopPad {
		padding-top: 0px;
	}
	#hvServicios #colDos{
		margin-top: 90px;
	}
	#hvServicios{
			padding-bottom: 30px;
	}
}
/**SERVICIOS**/

/**TECNOLOGÍAS**/
#hvTecno .hvH1{
	font-weight:100;
	color: rgba(54, 54, 54, 0.51);
}
#hvTecno #casosExito{
	width:80%;
	margin: 0 auto;
}
#hvTecno #casosExito li img{
	padding: 14px 30px;
}
#hvTecno  .imgList {
	margin: 0;
    padding: 0;
    overflow: hidden;
	text-align:center;
	padding-top:5%;
    list-style-type: none;

}
#hvTecno  .imgList ul {
	display: inline-block;
}

#hvTecno  .imgList li{
	display: block;
    float: left;
    text-align: center;
    padding: 2%;

}
#hvTecno  .imgList li img{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 70%;
}
#hvTecno .hvDestacado{
	/*position: absolute*/;
    color: white;
    font-size: 40px;
    font-weight: 700;
    width: 100%;
	margin-top:15px;
    text-transform: uppercase;
	line-height: 10px;
	text-transform: uppercase;
}
#hvTecno .hvMinDestacado{
	color: white;
    font-weight: 600;
    margin-top: 20px;
	line-height: 10px;
	text-transform: uppercase;

}
#hvTecno .hvWrapDest{
    float: left;
    padding: 10%;
    padding-top: 0px;
}
/**TECNOLOGÍAS**/

/**CONTACTO**/
#hvContacto .hvH1{
	color: rgba(54, 54, 54, 0.51);
	font-weight:200;
}

#hvContacto .leftText{
	text-align: -webkit-left;
}
#hvContacto .hvUnderline{
    height: 1px;
    width: 20%;
    margin: 0 auto;
    background-color: rgba(21, 23, 24, 0.41);
    border-radius: 20px;
}
#hvContacto .hvSubCont{
		margin-bottom: 5%;
}

	/*Formulario*/
#hvContactForm .hvUnderline{
    height: 1px;
    width: 15%;
    float: left;
    background-color: rgba(21, 23, 24, 0.41);
    border-radius: 20px;
}
#hvContactForm label{
	margin-top:4%;
}
#hvContactForm input, #hvContactForm textarea{
	border-radius: 0px;
}
#hvContactForm .hvSubmit{
	margin: 1%;
    margin-left: 0;
    background: white;
    border: 1px solid #ccc;
}
#hvContactForm .hvH1{
	color: rgba(54, 54, 54, 0.51);
	font-weight:200;
}
#hvContactForm .hvH4{
	color: #000000;
    font-weight: 200;
}
#hvContactForm .rightText{
	text-align: -webkit-right;
}
#hvContactForm .leftText{
	text-align: -webkit-left;
}
#hvContactForm .hvLeft{
	float: left;
}
	/*Formulario*/

	/*Info de contacto*/
#hvContactInfo .hvUnderline{
    height: 1px;
    width: 15%;
    float: left;
    background-color: rgba(21, 23, 24, 0.41);
    border-radius: 20px;
}
#hvContactInfo .hvServiciosP{
	word-wrap: break-word;
	font-size: 12px;
	font-weight: 100;
	line-height:220%;
	padding-top: 10px;
}
#hvContactInfo .rightText{
	text-align: -webkit-right;
}
#hvContactInfo .leftText{
	text-align: -webkit-left;
}
#hvContactInfo .hvH1{
	color: rgba(54, 54, 54, 0.51);
	font-weight:600;
}
#hvContactInfo .hvH4{
	color: #000000;
    font-weight: 200;
}
	/*Info de contacto*/
/**CONTACTO**/
